extensions/security/jwt/jwt-realm.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    eXist-db Open Source Native XML Database
    Copyright (C) 2001 The eXist-db Authors

    info@exist-db.org
    http://www.exist-db.org

    This library is free software; you can redistribute it and/or
    modify it under the terms of the GNU Lesser General Public
    License as published by the Free Software Foundation; either
    version 2.1 of the License, or (at your option) any later version.

    This library is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
    Lesser General Public License for more details.

    You should have received a copy of the GNU Lesser General Public
    License along with this library; if not, write to the Free Software
    Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301  USA

-->
<!--
    Makes use of XML Schema 1.1 to override the
    Security Manager Realm
    definition for an LDAP Realm
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="http://exist-db.org/Configuration"
    xmlns:cnf="http://exist-db.org/Configuration" xmlns:db="http://docbook.org/ns/docbook"
    vc:minVersion="1.1" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning">

    <xs:annotation>
        <xs:documentation>
            <db:info>
                <db:title>LDAP Security Realm Schema</db:title>
                <db:date>2012-01-14</db:date>
                <db:author>
                    <db:personname>
                        <db:firstname>Adam</db:firstname>
                        <db:surname>Retter</db:surname>
                    </db:personname>
                    <db:email>adam@exist-db.org</db:email>
                </db:author>
            </db:info>
        </xs:documentation>
    </xs:annotation>

    <xs:override schemaLocation="../../../schema/security-manager.xsd">
        <xs:complexType name="realmType">
            <xs:annotation>
                <xs:documentation>
                    <db:section>
                        <db:title>LDAP Realm</db:title>
                        <db:para>Specific configuration for the LDAP Realm</db:para>
                    </db:section>
                </xs:documentation>
            </xs:annotation>
            <xs:sequence>
                <xs:element ref="cnf:context"/>
            </xs:sequence>
            <xs:attribute name="id" use="required" fixed="LDAP" type="cnf:realmTypeId"/>
            <xs:attributeGroup ref="cnf:ldapRealmAttrs"/>
        </xs:complexType>
    </xs:override>

    <xs:attributeGroup name="ldapRealmAttrs">
        <xs:attribute name="principals-are-case-insensitive" type="xs:boolean" default="false">
            <xs:annotation>
                <xs:documentation>
                    <db:section>
                        <db:title>Case sensitivity of Principals</db:title>
                        <db:para>Determines whether the case of Principals (Account and Group names should be ignored). By default case is preserved, set to true to ignore case.</db:para>
                    </db:section>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="version" type="xs:decimal" default="1.0"/>
    </xs:attributeGroup>

    <xs:element name="context" type="cnf:contextType">
        <xs:annotation>
            <xs:documentation>
                <db:section>
                    <db:title>LDAP Context</db:title>
                    <db:para>Details of the LDAP Context to query for security authentication.</db:para>
                </db:section>
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:complexType name="contextType">
        <xs:sequence>
            <xs:element ref="cnf:header-field-prefix"/>
            <xs:element ref="cnf:secret"/>
            <xs:element ref="cnf:search"/>
            <xs:element ref="cnf:transformation" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="header-field-prefix" type="xs:string" default="Authorization: Bearer">
        <xs:annotation>
            <xs:documentation/>
        </xs:annotation>
    </xs:element>

    <xs:element name="secret" type="xs:string">
        <xs:annotation>
            <xs:documentation>
                <db:section>
                    <db:title>LDAP Domain Name</db:title>
                    <db:para>The Domain name of the LDAP Context (e.g. ad.my-domain.com).</db:para>
                </db:section>
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="search">
        <xs:annotation>
            <xs:documentation>
                <db:section>
                    <db:title>LDAP Search Context</db:title>
                    <db:para>Configuration information on how to search the LDAP for account and group names.</db:para>
                </db:section>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="account" type="cnf:principalType_account">
                    <xs:annotation>
                        <xs:documentation>
                            <db:section>
                                <db:title>LDAP Account Principal</db:title>
                                <db:para>Configuration for searching for LDAP Account Principals.</db:para>
                            </db:section>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="group" type="cnf:principalType_group">
                    <xs:annotation>
                        <xs:documentation>
                            <db:section>
                                <db:title>LDAP Group Principal</db:title>
                                <db:para>Configuration for searching for LDAP Group Principals.</db:para>
                            </db:section>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="transformation">
        <xs:annotation>
            <xs:documentation>
                <db:section>
                    <db:title>LDAP Principal Transformations</db:title>
                    <db:para>Configuration for modifying Principals returned from the LDAP Server on the fly. Useful for fixups when integrating multiple security Realms.</db:para>
                </db:section>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="add-group" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            <db:section>
                                <db:title>Add a Security Group to an LDAP Account Principal</db:title>
                                <db:para>Will add the named group to the LDAP Account.</db:para>
                                <db:para>The group name can either be simple like 'guest', in which-case it will be resolved against the internal eXist-db security realm, or it can be postfixed with the realm e.g. 'project-users@other-realm.com', the postfix will be used to determine the realm to resolve the group against.</db:para>
                            </db:section>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="search-filter-xpath" type="xs:string">
        <xs:annotation>
            <xs:documentation>
                <db:section>
                    <db:title>Principal Search Filter Prefix</db:title>
                    <db:para>Prefix to use in LDAP Searches when searching on Principals. (e.g. For AD Users 'objectClass=user' or for AD Groups 'objectClass=group')</db:para>
                </db:section>
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="metadata-search-attribute" type="cnf:metadataSearchAttributeType">
        <xs:annotation>
            <xs:documentation>
                <db:section>
                    <db:title>Search Attribute</db:title>
                    <db:para>Metadata Attribute values to retrieve as part of the LDAP Search</db:para>
                </db:section>
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:group name="white-black-list">
        <xs:sequence>
            <xs:element name="whitelist" type="cnf:principalRestrictionListType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        <db:section>
                            <db:title>Principal Whitelist</db:title>
                            <db:para>Whitelist of Principals to allow from the LDAP</db:para>
                        </db:section>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="blacklist" type="cnf:principalRestrictionListType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        <db:section>
                            <db:title>Principal Blacklist</db:title>
                            <db:para>Blacklist of Principals to disallow from the LDAP</db:para>
                        </db:section>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:group>

    <xs:complexType name="principalRestrictionListType">
        <xs:sequence>
            <xs:element name="principal" type="xs:string" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="principalType_account">
        <xs:sequence>
            <xs:element name="search-attribute" type="cnf:searchAttributeType_account"
                maxOccurs="unbounded"/>
            <xs:element ref="cnf:metadata-search-attribute" maxOccurs="unbounded"/>
            <xs:group ref="cnf:white-black-list"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="principalType_group">
        <xs:sequence>
            <xs:element ref="cnf:search-filter-xpath"/>
            <xs:element name="search-attribute" type="cnf:searchAttributeType_group"
                maxOccurs="unbounded"/>
            <xs:element ref="cnf:metadata-search-attribute" minOccurs="0" maxOccurs="unbounded"/>
            <xs:group ref="cnf:white-black-list"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="searchAttributeType">
        <xs:annotation>
            <xs:documentation>
                <db:section>
                    <db:title>LDAP Principal Search Attribute</db:title>
                    <db:para>Attributes to use for LDAP Searches. (e.g. to Filter the Principal name in Active Directory for an Account use &lt;search-attribute key="name">sAMAccountName&lt;/search-attribute>)</db:para>
                </db:section>
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="xs:string"> </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="searchAttributeType_account">
        <xs:annotation>
            <xs:documentation>
                <db:section>
                    <db:title>LDAP Account Search Attribute</db:title>
                    <db:para>Attributes to use for LDAP Searches on Accounts. (e.g. to Filter the Account name in Active Directory for an Account use &lt;search-attribute key="name">sAMAccountName&lt;/search-attribute>)</db:para>
                </db:section>
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="cnf:searchAttributeType">
                <xs:attribute name="key" type="cnf:searchAttributeKeyType_account" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="searchAttributeType_group">
        <xs:annotation>
            <xs:documentation>
                <db:section>
                    <db:title>LDAP Group Search Attribute</db:title>
                    <db:para>Attributes to use for LDAP Searches on Groups. (e.g. to Filter the Group name in Active Directory for an Group use &lt;search-attribute key="name">sAMAccountName&lt;/search-attribute>)</db:para>
                </db:section>
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="cnf:searchAttributeType">
                <xs:attribute name="key" type="cnf:searchAttributeKeyType_group" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:simpleType name="searchAttributeKeyType_common">
        <xs:restriction base="xs:string">
            <xs:enumeration value="name">
                <xs:annotation>
                    <xs:documentation>The key for the LDAP attribute which describes the system name of a Principal</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="dn">
                <xs:annotation>
                    <xs:documentation>The key for the LDAP attribute which describes the Distinguished Name of a Principal</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="objectSid">
                <xs:annotation>
                    <xs:documentation>The key for the LDAP attribute which describes the Security Identifier of a Principal (Active Directory specific!)</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="searchAttributeKeyType_account">
        <xs:union
            memberTypes="cnf:searchAttributeKeyType_common cnf:searchAttributeKeyType_accountOnly"/>
    </xs:simpleType>

    <xs:simpleType name="searchAttributeKeyType_group">
        <xs:union
            memberTypes="cnf:searchAttributeKeyType_common cnf:searchAttributeKeyType_groupOnly"/>
    </xs:simpleType>

    <xs:simpleType name="searchAttributeKeyType_accountOnly">
        <xs:restriction base="xs:string">
            <xs:enumeration value="memberOf">
                <xs:annotation>
                    <xs:documentation>The key for the LDAP attribute which describes that an Account is a member of a Group</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="primaryGroupID">
                <xs:annotation>
                    <xs:documentation>The key for the LDAP attribute which describes that an Account has which Primary Group</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="searchAttributeKeyType_groupOnly">
        <xs:restriction base="xs:string">
            <xs:enumeration value="primaryGroupToken"/>
            <xs:enumeration value="member"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="metadataSearchAttributeType">
        <xs:simpleContent>
            <xs:extension base="cnf:metadataAttributeType">
                <xs:attribute name="key" type="cnf:metadataKeyType" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:simpleType name="metadataKeyType">
        <xs:annotation>
            <xs:documentation>Metadata Attribute Keys supported by eXist-db for retrieval from LDAP</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:anyURI">
            <xs:enumeration value="http://axschema.org/namePerson"/>
            <xs:enumeration value="http://axschema.org/namePerson/first"/>
            <xs:enumeration value="http://axschema.org/namePerson/last"/>
            <xs:enumeration value="http://axschema.org/contact/email"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="metadataAttributeType">
        <xs:annotation>
            <xs:documentation>Metadata Attributes supported by eXist-db for retrieval from LDAP</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"/>
    </xs:simpleType>

</xs:schema>
