exist-core/src/test/resources/samples/validation/parse/schemas/AnotherNamespace.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="AnotherNamespace"
    targetNamespace="AnotherNamespace">

    <xs:complexType name="zType">
        <xs:sequence>
            <xs:element name="X">
                <xs:simpleType>
                    <xs:restriction base="xs:int">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="100"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="Y" type="xs:dateTime"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
