extensions/xprocxq/main/etc/steps.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="http://www.w3.org/ns/xproc" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <!-- This schema could be made more constrained. -->
  <define name="StandardStep">
    <choice>
      <ref name="Step-add-attribute"/>
      <ref name="Step-add-xml-base"/>
      <ref name="Step-compare"/>
      <ref name="Step-count"/>
      <ref name="Step-delete"/>

      <ref name="Step-directory-list"/>
      <ref name="Step-error"/>
      <ref name="Step-escape-markup"/>
      <ref name="Step-filter"/>
      <ref name="Step-http-request"/>
      <ref name="Step-identity"/>
      <ref name="Step-insert"/>
      <ref name="Step-label-elements"/>
      <ref name="Step-load"/>

      <ref name="Step-make-absolute-uris"/>
      <ref name="Step-namespace-rename"/>
      <ref name="Step-pack"/>
      <ref name="Step-parameters"/>
      <ref name="Step-rename"/>
      <ref name="Step-replace"/>
      <ref name="Step-set-attributes"/>
      <ref name="Step-sink"/>
      <ref name="Step-split-sequence"/>

      <ref name="Step-store"/>
      <ref name="Step-string-replace"/>
      <ref name="Step-unescape-markup"/>
      <ref name="Step-unwrap"/>
      <ref name="Step-wrap"/>
      <ref name="Step-wrap-sequence"/>
      <ref name="Step-xinclude"/>
      <ref name="Step-xslt"/>
      <ref name="Step-exec"/>

      <ref name="Step-hash"/>
      <ref name="Step-uuid"/>
      <ref name="Step-validate-with-relax-ng"/>
      <ref name="Step-validate-with-schematron"/>
      <ref name="Step-validate-with-xml-schema"/>
      <ref name="Step-www-form-urldecode"/>
      <ref name="Step-www-form-urlencode"/>
      <ref name="Step-xquery"/>
      <ref name="Step-xsl-formatter"/>

    </choice>
  </define>
  <define name="Step-add-attribute">
    <element name="add-attribute">
      <optional>
        <ref name="name.ncname.attr"/>
      </optional>
      <ref name="common.attributes"/>
      <optional>

        <ref name="use-when.attr"/>
      </optional>
      <optional>
        <attribute name="match">
          <ref name="XSLTMatchPattern"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="attribute-name">

          <data type="QName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="attribute-prefix">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>

        <attribute name="attribute-namespace">
          <data type="anyURI"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="attribute-value">
          <data type="string"/>
        </attribute>
      </optional>

      <interleave>
        <zeroOrMore>
          <ref name="InputConnection"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="WithOption"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="Log"/>

        </zeroOrMore>
        <zeroOrMore>
          <choice>
            <ref name="Documentation"/>
            <ref name="PipeInfo"/>
          </choice>
        </zeroOrMore>
      </interleave>
    </element>

  </define>
  <define name="Step-add-xml-base">
    <element name="add-xml-base">
      <optional>
        <ref name="name.ncname.attr"/>
      </optional>
      <ref name="common.attributes"/>
      <optional>
        <ref name="use-when.attr"/>

      </optional>
      <optional>
        <attribute name="all">
          <data type="boolean"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="relative">
          <data type="boolean"/>

        </attribute>
      </optional>
      <interleave>
        <zeroOrMore>
          <ref name="InputConnection"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="WithOption"/>
        </zeroOrMore>

        <zeroOrMore>
          <ref name="Log"/>
        </zeroOrMore>
        <zeroOrMore>
          <choice>
            <ref name="Documentation"/>
            <ref name="PipeInfo"/>
          </choice>
        </zeroOrMore>

      </interleave>
    </element>
  </define>
  <define name="Step-compare">
    <element name="compare">
      <optional>
        <ref name="name.ncname.attr"/>
      </optional>
      <ref name="common.attributes"/>

      <optional>
        <ref name="use-when.attr"/>
      </optional>
      <optional>
        <attribute name="fail-if-not-equal">
          <data type="boolean"/>
        </attribute>
      </optional>
      <interleave>

        <zeroOrMore>
          <ref name="InputConnection"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="WithOption"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="Log"/>
        </zeroOrMore>

        <zeroOrMore>
          <choice>
            <ref name="Documentation"/>
            <ref name="PipeInfo"/>
          </choice>
        </zeroOrMore>
      </interleave>
    </element>
  </define>

  <define name="Step-count">
    <element name="count">
      <optional>
        <ref name="name.ncname.attr"/>
      </optional>
      <ref name="common.attributes"/>
      <optional>
        <ref name="use-when.attr"/>
      </optional>

      <optional>
        <attribute name="limit">
          <data type="integer"/>
        </attribute>
      </optional>
      <interleave>
        <zeroOrMore>
          <ref name="InputConnection"/>
        </zeroOrMore>

        <zeroOrMore>
          <ref name="WithOption"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="Log"/>
        </zeroOrMore>
        <zeroOrMore>
          <choice>
            <ref name="Documentation"/>

            <ref name="PipeInfo"/>
          </choice>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="Step-delete">
    <element name="delete">
      <optional>

        <ref name="name.ncname.attr"/>
      </optional>
      <ref name="common.attributes"/>
      <optional>
        <ref name="use-when.attr"/>
      </optional>
      <optional>
        <attribute name="match">
          <ref name="XSLTMatchPattern"/>

        </attribute>
      </optional>
      <interleave>
        <zeroOrMore>
          <ref name="InputConnection"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="WithOption"/>
        </zeroOrMore>

        <zeroOrMore>
          <ref name="Log"/>
        </zeroOrMore>
        <zeroOrMore>
          <choice>
            <ref name="Documentation"/>
            <ref name="PipeInfo"/>
          </choice>
        </zeroOrMore>

      </interleave>
    </element>
  </define>
  <define name="Step-directory-list">
    <element name="directory-list">
      <optional>
        <ref name="name.ncname.attr"/>
      </optional>
      <ref name="common.attributes"/>

      <optional>
        <ref name="use-when.attr"/>
      </optional>
      <optional>
        <attribute name="path">
          <data type="anyURI"/>
        </attribute>
      </optional>
      <optional>

        <attribute name="include-filter">
          <ref name="RegularExpression"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="exclude-filter">
          <ref name="RegularExpression"/>
        </attribute>
      </optional>

      <interleave>
        <zeroOrMore>
          <ref name="WithOption"/>
        </zeroOrMore>
        <zeroOrMore>
          <choice>
            <ref name="Documentation"/>
            <ref name="PipeInfo"/>
          </choice>

        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="Step-error">
    <element name="error">
      <optional>
        <ref name="name.ncname.attr"/>
      </optional>

      <ref name="common.attributes"/>
      <optional>
        <ref name="use-when.attr"/>
      </optional>
      <optional>
        <attribute name="code">
          <data type="QName"/>
        </attribute>
      </optional>

      <optional>
        <attribute name="code-prefix">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="code-namespace">
          <data type="anyURI"/>
        </attribute>

      </optional>
      <interleave>
        <zeroOrMore>
          <ref name="InputConnection"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="WithOption"/>
        </zeroOrMore>
        <zeroOrMore>

          <ref name="Log"/>
        </zeroOrMore>
        <zeroOrMore>
          <choice>
            <ref name="Documentation"/>
            <ref name="PipeInfo"/>
          </choice>
        </zeroOrMore>
      </interleave>

    </element>
  </define>
  <define name="Step-escape-markup">
    <element name="escape-markup">
      <optional>
        <ref name="name.ncname.attr"/>
      </optional>
      <ref name="common.attributes"/>
      <optional>

        <ref name="use-when.attr"/>
      </optional>
      <optional>
        <attribute name="cdata-section-elements">
          <ref name="ListOfQNames"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="doctype-public">

          <data type="string"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="doctype-system">
          <data type="anyURI"/>
        </attribute>
      </optional>
      <optional>

        <attribute name="escape-uri-attributes">
          <data type="boolean"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="include-content-type">
          <data type="boolean"/>
        </attribute>
      </optional>

      <optional>
        <attribute name="indent">
          <data type="boolean"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="media-type">
          <data type="string"/>
        </attribute>

      </optional>
      <optional>
        <attribute name="method">
          <data type="QName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="omit-xml-declaration">
          <data type="boolean"/>

        </attribute>
      </optional>
      <optional>
        <attribute name="standalone">
          <choice>
            <value>true</value>
            <value>false</value>
            <value>omit</value>

          </choice>
        </attribute>
      </optional>
      <optional>
        <attribute name="undeclare-prefixes">
          <data type="boolean"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="version">
          <data type="string"/>
        </attribute>
      </optional>

      <interleave>
        <zeroOrMore>
          <ref name="InputConnection"/>
        </zeroOrMore>
        <zeroOrMore>

          <ref name="WithOption"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="Log"/>
        </zeroOrMore>
        <zeroOrMore>
          <choice>
            <ref name="Documentation"/>
            <ref name="PipeInfo"/>

          </choice>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="Step-filter">
    <element name="filter">
      <optional>
        <ref name="name.ncname.attr"/>

      </optional>
      <ref name="common.attributes"/>
      <optional>
        <ref name="use-when.attr"/>
      </optional>
      <optional>
        <attribute name="select">
          <ref name="XPathExpression"/>
        </attribute>

      </optional>
      <interleave>
        <zeroOrMore>
          <ref name="InputConnection"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="WithOption"/>
        </zeroOrMore>
        <zeroOrMore>

          <ref name="Log"/>
        </zeroOrMore>
        <zeroOrMore>
          <choice>
            <ref name="Documentation"/>
            <ref name="PipeInfo"/>
          </choice>
        </zeroOrMore>
      </interleave>

    </element>
  </define>
  <define name="Step-http-request">
    <element name="http-request">
      <optional>
        <ref name="name.ncname.attr"/>
      </optional>
      <ref name="common.attributes"/>
      <optional>

        <ref name="use-when.attr"/>
      </optional>
      <optional>
        <attribute name="byte-order-mark">
          <data type="boolean"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="cdata-section-elements">

          <ref name="ListOfQNames"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="doctype-public">
          <data type="string"/>
        </attribute>
      </optional>
      <optional>

        <attribute name="doctype-system">
          <data type="anyURI"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="encoding">
          <data type="string"/>
        </attribute>
      </optional>

      <optional>
        <attribute name="escape-uri-attributes">
          <data type="boolean"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="include-content-type">
          <data type="boolean"/>
        </attribute>

      </optional>
      <optional>
        <attribute name="indent">
          <data type="boolean"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="media-type">
          <data type="string"/>

        </attribute>
      </optional>
      <optional>
        <attribute name="method">
          <data type="QName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="normalization-form">

          <ref name="NormalizationForm"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="omit-xml-declaration">
          <data type="boolean"/>
        </attribute>
      </optional>
      <optional>

        <attribute name="standalone">
          <choice>
            <value>true</value>
            <value>false</value>
            <value>omit</value>
          </choice>
        </attribute>

      </optional>
      <optional>
        <attribute name="undeclare-prefixes">
          <data type="boolean"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="version">
          <data type="string"/>

        </attribute>
      </optional>
      <interleave>
        <zeroOrMore>
          <ref name="InputConnection"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="WithOption"/>
        </zeroOrMore>

        <zeroOrMore>
          <ref name="Log"/>
        </zeroOrMore>
        <zeroOrMore>
          <choice>
            <ref name="Documentation"/>
            <ref name="PipeInfo"/>
          </choice>
        </zeroOrMore>

      </interleave>
    </element>
  </define>
  <define name="Step-identity">
    <element name="identity">
      <optional>
        <ref name="name.ncname.attr"/>
      </optional>
      <ref name="common.attributes"/>

      <optional>
        <ref name="use-when.attr"/>
      </optional>
      <interleave>
        <zeroOrMore>
          <ref name="InputConnection"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="Log"/>

        </zeroOrMore>
        <zeroOrMore>
          <choice>
            <ref name="Documentation"/>
            <ref name="PipeInfo"/>
          </choice>
        </zeroOrMore>
      </interleave>
    </element>

  </define>
  <define name="Step-insert">
    <element name="insert">
      <optional>
        <ref name="name.ncname.attr"/>
      </optional>
      <ref name="common.attributes"/>
      <optional>
        <ref name="use-when.attr"/>

      </optional>
      <optional>
        <attribute name="match">
          <ref name="XSLTMatchPattern"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="position">
          <choice>

            <value>first-child</value>
            <value>last-child</value>
            <value>before</value>
            <value>after</value>
          </choice>
        </attribute>
      </optional>

      <interleave>
        <zeroOrMore>
          <ref name="InputConnection"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="WithOption"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="Log"/>

        </zeroOrMore>
        <zeroOrMore>
          <choice>
            <ref name="Documentation"/>
            <ref name="PipeInfo"/>
          </choice>
        </zeroOrMore>
      </interleave>
    </element>

  </define>
  <define name="Step-label-elements">
    <element name="label-elements">
      <optional>
        <ref name="name.ncname.attr"/>
      </optional>
      <ref name="common.attributes"/>
      <optional>
        <ref name="use-when.attr"/>

      </optional>
      <optional>
        <attribute name="attribute">
          <data type="QName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="attribute-prefix">
          <data type="NCName"/>

        </attribute>
      </optional>
      <optional>
        <attribute name="attribute-namespace">
          <data type="anyURI"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="label">

          <ref name="XPathExpression"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="match">
          <ref name="XSLTMatchPattern"/>
        </attribute>
      </optional>
      <optional>

        <attribute name="replace">
          <data type="boolean"/>
        </attribute>
      </optional>
      <interleave>
        <zeroOrMore>
          <ref name="InputConnection"/>
        </zeroOrMore>
        <zeroOrMore>

          <ref name="WithOption"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="Log"/>
        </zeroOrMore>
        <zeroOrMore>
          <choice>
            <ref name="Documentation"/>
            <ref name="PipeInfo"/>

          </choice>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="Step-load">
    <element name="load">
      <optional>
        <ref name="name.ncname.attr"/>

      </optional>
      <ref name="common.attributes"/>
      <optional>
        <ref name="use-when.attr"/>
      </optional>
      <optional>
        <attribute name="href">
          <data type="anyURI"/>
        </attribute>

      </optional>
      <optional>
        <attribute name="dtd-validate">
          <data type="boolean"/>
        </attribute>
      </optional>
      <interleave>
        <zeroOrMore>
          <ref name="WithOption"/>

        </zeroOrMore>
        <zeroOrMore>
          <choice>
            <ref name="Documentation"/>
            <ref name="PipeInfo"/>
          </choice>
        </zeroOrMore>
      </interleave>
    </element>

  </define>
  <define name="Step-make-absolute-uris">
    <element name="make-absolute-uris">
      <optional>
        <ref name="name.ncname.attr"/>
      </optional>
      <ref name="common.attributes"/>
      <optional>
        <ref name="use-when.attr"/>

      </optional>
      <optional>
        <attribute name="match">
          <ref name="XSLTMatchPattern"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="base-uri">
          <data type="anyURI"/>

        </attribute>
      </optional>
      <interleave>
        <zeroOrMore>
          <ref name="InputConnection"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="WithOption"/>
        </zeroOrMore>

        <zeroOrMore>
          <ref name="Log"/>
        </zeroOrMore>
        <zeroOrMore>
          <choice>
            <ref name="Documentation"/>
            <ref name="PipeInfo"/>
          </choice>
        </zeroOrMore>

      </interleave>
    </element>
  </define>
  <define name="Step-namespace-rename">
    <element name="namespace-rename">
      <optional>
        <ref name="name.ncname.attr"/>
      </optional>
      <ref name="common.attributes"/>

      <optional>
        <ref name="use-when.attr"/>
      </optional>
      <optional>
        <attribute name="from">
          <data type="anyURI"/>
        </attribute>
      </optional>
      <optional>

        <attribute name="to">
          <data type="anyURI"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="apply-to">
          <choice>
            <value>all</value>

            <value>elements</value>
            <value>attributes</value>
          </choice>
        </attribute>
      </optional>
      <interleave>
        <zeroOrMore>
          <ref name="InputConnection"/>

        </zeroOrMore>
        <zeroOrMore>
          <ref name="WithOption"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="Log"/>
        </zeroOrMore>
        <zeroOrMore>
          <choice>

            <ref name="Documentation"/>
            <ref name="PipeInfo"/>
          </choice>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="Step-pack">
    <element name="pack">

      <optional>
        <ref name="name.ncname.attr"/>
      </optional>
      <ref name="common.attributes"/>
      <optional>
        <ref name="use-when.attr"/>
      </optional>
      <optional>
        <attribute name="wrapper">

          <data type="QName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="wrapper-prefix">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>

        <attribute name="wrapper-namespace">
          <data type="anyURI"/>
        </attribute>
      </optional>
      <interleave>
        <zeroOrMore>
          <ref name="InputConnection"/>
        </zeroOrMore>
        <zeroOrMore>

          <ref name="WithOption"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="Log"/>
        </zeroOrMore>
        <zeroOrMore>
          <choice>
            <ref name="Documentation"/>
            <ref name="PipeInfo"/>

          </choice>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="Step-parameters">
    <element name="parameters">
      <optional>
        <ref name="name.ncname.attr"/>

      </optional>
      <ref name="common.attributes"/>
      <optional>
        <ref name="use-when.attr"/>
      </optional>
      <interleave>
        <zeroOrMore>
          <ref name="InputConnection"/>
        </zeroOrMore>

        <zeroOrMore>
          <ref name="Log"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="WithParam"/>
        </zeroOrMore>
        <zeroOrMore>
          <choice>
            <ref name="Documentation"/>

            <ref name="PipeInfo"/>
          </choice>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="Step-rename">
    <element name="rename">
      <optional>

        <ref name="name.ncname.attr"/>
      </optional>
      <ref name="common.attributes"/>
      <optional>
        <ref name="use-when.attr"/>
      </optional>
      <optional>
        <attribute name="match">
          <ref name="XSLTMatchPattern"/>

        </attribute>
      </optional>
      <optional>
        <attribute name="new-name">
          <data type="QName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="new-prefix">

          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="new-namespace">
          <data type="anyURI"/>
        </attribute>
      </optional>
      <interleave>

        <zeroOrMore>
          <ref name="InputConnection"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="WithOption"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="Log"/>
        </zeroOrMore>

        <zeroOrMore>
          <choice>
            <ref name="Documentation"/>
            <ref name="PipeInfo"/>
          </choice>
        </zeroOrMore>
      </interleave>
    </element>
  </define>

  <define name="Step-replace">
    <element name="replace">
      <optional>
        <ref name="name.ncname.attr"/>
      </optional>
      <ref name="common.attributes"/>
      <optional>
        <ref name="use-when.attr"/>
      </optional>

      <optional>
        <attribute name="match">
          <ref name="XSLTMatchPattern"/>
        </attribute>
      </optional>
      <interleave>
        <zeroOrMore>
          <ref name="InputConnection"/>
        </zeroOrMore>

        <zeroOrMore>
          <ref name="WithOption"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="Log"/>
        </zeroOrMore>
        <zeroOrMore>
          <choice>
            <ref name="Documentation"/>

            <ref name="PipeInfo"/>
          </choice>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="Step-set-attributes">
    <element name="set-attributes">
      <optional>

        <ref name="name.ncname.attr"/>
      </optional>
      <ref name="common.attributes"/>
      <optional>
        <ref name="use-when.attr"/>
      </optional>
      <optional>
        <attribute name="match">
          <ref name="XSLTMatchPattern"/>

        </attribute>
      </optional>
      <interleave>
        <zeroOrMore>
          <ref name="InputConnection"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="WithOption"/>
        </zeroOrMore>

        <zeroOrMore>
          <ref name="Log"/>
        </zeroOrMore>
        <zeroOrMore>
          <choice>
            <ref name="Documentation"/>
            <ref name="PipeInfo"/>
          </choice>
        </zeroOrMore>

      </interleave>
    </element>
  </define>
  <define name="Step-sink">
    <element name="sink">
      <optional>
        <ref name="name.ncname.attr"/>
      </optional>
      <ref name="common.attributes"/>

      <optional>
        <ref name="use-when.attr"/>
      </optional>
      <interleave>
        <zeroOrMore>
          <ref name="InputConnection"/>
        </zeroOrMore>
        <zeroOrMore>
          <choice>

            <ref name="Documentation"/>
            <ref name="PipeInfo"/>
          </choice>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="Step-split-sequence">
    <element name="split-sequence">

      <optional>
        <ref name="name.ncname.attr"/>
      </optional>
      <ref name="common.attributes"/>
      <optional>
        <ref name="use-when.attr"/>
      </optional>
      <optional>
        <attribute name="initial-only">

          <data type="boolean"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="test">
          <ref name="XPathExpression"/>
        </attribute>
      </optional>
      <interleave>

        <zeroOrMore>
          <ref name="InputConnection"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="WithOption"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="Log"/>
        </zeroOrMore>

        <zeroOrMore>
          <choice>
            <ref name="Documentation"/>
            <ref name="PipeInfo"/>
          </choice>
        </zeroOrMore>
      </interleave>
    </element>
  </define>

  <define name="Step-store">
    <element name="store">
      <optional>
        <ref name="name.ncname.attr"/>
      </optional>
      <ref name="common.attributes"/>
      <optional>
        <ref name="use-when.attr"/>
      </optional>

      <optional>
        <attribute name="href">
          <data type="anyURI"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="byte-order-mark">
          <data type="boolean"/>
        </attribute>

      </optional>
      <optional>
        <attribute name="cdata-section-elements">
          <ref name="ListOfQNames"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="doctype-public">
          <data type="string"/>

        </attribute>
      </optional>
      <optional>
        <attribute name="doctype-system">
          <data type="anyURI"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="encoding">

          <data type="string"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="escape-uri-attributes">
          <data type="boolean"/>
        </attribute>
      </optional>
      <optional>

        <attribute name="include-content-type">
          <data type="boolean"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="indent">
          <data type="boolean"/>
        </attribute>
      </optional>

      <optional>
        <attribute name="media-type">
          <data type="string"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="method">
          <data type="QName"/>
        </attribute>

      </optional>
      <optional>
        <attribute name="normalization-form">
          <ref name="NormalizationForm"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="omit-xml-declaration">
          <data type="boolean"/>

        </attribute>
      </optional>
      <optional>
        <attribute name="standalone">
          <choice>
            <value>true</value>
            <value>false</value>
            <value>omit</value>

          </choice>
        </attribute>
      </optional>
      <optional>
        <attribute name="undeclare-prefixes">
          <data type="boolean"/>
        </attribute>
      </optional>
      <optional>

        <attribute name="version">
          <data type="string"/>
        </attribute>
      </optional>
      <interleave>
        <zeroOrMore>
          <ref name="InputConnection"/>
        </zeroOrMore>
        <zeroOrMore>

          <ref name="WithOption"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="Log"/>
        </zeroOrMore>
        <zeroOrMore>
          <choice>
            <ref name="Documentation"/>
            <ref name="PipeInfo"/>

          </choice>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="Step-string-replace">
    <element name="string-replace">
      <optional>
        <ref name="name.ncname.attr"/>

      </optional>
      <ref name="common.attributes"/>
      <optional>
        <ref name="use-when.attr"/>
      </optional>
      <optional>
        <attribute name="match">
          <ref name="XSLTMatchPattern"/>
        </attribute>

      </optional>
      <optional>
        <attribute name="replace">
          <ref name="XPathExpression"/>
        </attribute>
      </optional>
      <interleave>
        <zeroOrMore>
          <ref name="InputConnection"/>

        </zeroOrMore>
        <zeroOrMore>
          <ref name="WithOption"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="Log"/>
        </zeroOrMore>
        <zeroOrMore>
          <choice>

            <ref name="Documentation"/>
            <ref name="PipeInfo"/>
          </choice>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="Step-unescape-markup">
    <element name="unescape-markup">

      <optional>
        <ref name="name.ncname.attr"/>
      </optional>
      <ref name="common.attributes"/>
      <optional>
        <ref name="use-when.attr"/>
      </optional>
      <optional>
        <attribute name="namespace">

          <data type="anyURI"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="content-type">
          <data type="string"/>
        </attribute>
      </optional>
      <optional>

        <attribute name="encoding">
          <data type="string"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="charset">
          <data type="string"/>
        </attribute>
      </optional>

      <interleave>
        <zeroOrMore>
          <ref name="InputConnection"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="WithOption"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="Log"/>

        </zeroOrMore>
        <zeroOrMore>
          <choice>
            <ref name="Documentation"/>
            <ref name="PipeInfo"/>
          </choice>
        </zeroOrMore>
      </interleave>
    </element>

  </define>
  <define name="Step-unwrap">
    <element name="unwrap">
      <optional>
        <ref name="name.ncname.attr"/>
      </optional>
      <ref name="common.attributes"/>
      <optional>
        <ref name="use-when.attr"/>

      </optional>
      <optional>
        <attribute name="match">
          <ref name="XSLTMatchPattern"/>
        </attribute>
      </optional>
      <interleave>
        <zeroOrMore>
          <ref name="InputConnection"/>

        </zeroOrMore>
        <zeroOrMore>
          <ref name="WithOption"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="Log"/>
        </zeroOrMore>
        <zeroOrMore>
          <choice>

            <ref name="Documentation"/>
            <ref name="PipeInfo"/>
          </choice>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="Step-wrap">
    <element name="wrap">

      <optional>
        <ref name="name.ncname.attr"/>
      </optional>
      <ref name="common.attributes"/>
      <optional>
        <ref name="use-when.attr"/>
      </optional>
      <optional>
        <attribute name="wrapper">

          <data type="QName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="wrapper-prefix">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>

        <attribute name="wrapper-namespace">
          <data type="anyURI"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="match">
          <ref name="XSLTMatchPattern"/>
        </attribute>
      </optional>

      <optional>
        <attribute name="group-adjacent">
          <ref name="XPathExpression"/>
        </attribute>
      </optional>
      <interleave>
        <zeroOrMore>
          <ref name="InputConnection"/>
        </zeroOrMore>

        <zeroOrMore>
          <ref name="WithOption"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="Log"/>
        </zeroOrMore>
        <zeroOrMore>
          <choice>
            <ref name="Documentation"/>

            <ref name="PipeInfo"/>
          </choice>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="Step-wrap-sequence">
    <element name="wrap-sequence">
      <optional>

        <ref name="name.ncname.attr"/>
      </optional>
      <ref name="common.attributes"/>
      <optional>
        <ref name="use-when.attr"/>
      </optional>
      <optional>
        <attribute name="wrapper">
          <data type="QName"/>

        </attribute>
      </optional>
      <optional>
        <attribute name="wrapper-prefix">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="wrapper-namespace">

          <data type="anyURI"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="group-adjacent">
          <ref name="XPathExpression"/>
        </attribute>
      </optional>
      <interleave>

        <zeroOrMore>
          <ref name="InputConnection"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="WithOption"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="Log"/>
        </zeroOrMore>

        <zeroOrMore>
          <choice>
            <ref name="Documentation"/>
            <ref name="PipeInfo"/>
          </choice>
        </zeroOrMore>
      </interleave>
    </element>
  </define>

  <define name="Step-xinclude">
    <element name="xinclude">
      <optional>
        <ref name="name.ncname.attr"/>
      </optional>
      <ref name="common.attributes"/>
      <optional>
        <ref name="use-when.attr"/>
      </optional>

      <optional>
        <attribute name="fixup-xml-base">
          <data type="boolean"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="fixup-xml-lang">
          <data type="boolean"/>
        </attribute>

      </optional>
      <interleave>
        <zeroOrMore>
          <ref name="InputConnection"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="WithOption"/>
        </zeroOrMore>
        <zeroOrMore>

          <ref name="Log"/>
        </zeroOrMore>
        <zeroOrMore>
          <choice>
            <ref name="Documentation"/>
            <ref name="PipeInfo"/>
          </choice>
        </zeroOrMore>
      </interleave>

    </element>
  </define>
  <define name="Step-xslt">
    <element name="xslt">
      <optional>
        <ref name="name.ncname.attr"/>
      </optional>
      <ref name="common.attributes"/>
      <optional>

        <ref name="use-when.attr"/>
      </optional>
      <optional>
        <attribute name="initial-mode">
          <data type="QName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="template-name">

          <data type="QName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="output-base-uri">
          <data type="anyURI"/>
        </attribute>
      </optional>
      <optional>

        <attribute name="version">
          <data type="string"/>
        </attribute>
      </optional>
      <interleave>
        <zeroOrMore>
          <ref name="InputConnection"/>
        </zeroOrMore>
        <zeroOrMore>

          <ref name="WithOption"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="Log"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="WithParam"/>
        </zeroOrMore>
        <zeroOrMore>

          <choice>
            <ref name="Documentation"/>
            <ref name="PipeInfo"/>
          </choice>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="Step-exec">

    <element name="exec">
      <optional>
        <ref name="name.ncname.attr"/>
      </optional>
      <ref name="common.attributes"/>
      <optional>
        <ref name="use-when.attr"/>
      </optional>
      <optional>

        <attribute name="command">
          <data type="string"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="args">
          <data type="string"/>
        </attribute>
      </optional>

      <optional>
        <attribute name="cwd">
          <data type="string"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="source-is-xml">
          <data type="boolean"/>
        </attribute>

      </optional>
      <optional>
        <attribute name="result-is-xml">
          <data type="boolean"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="wrap-result-lines">
          <data type="boolean"/>

        </attribute>
      </optional>
      <optional>
        <attribute name="errors-is-xml">
          <data type="boolean"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="wrap-error-lines">

          <data type="boolean"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="path-separator">
          <data type="string"/>
        </attribute>
      </optional>
      <optional>

        <attribute name="failure-threshold">
          <data type="integer"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="arg-separator">
          <data type="string"/>
        </attribute>
      </optional>

      <optional>
        <attribute name="byte-order-mark">
          <data type="boolean"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="cdata-section-elements">
          <ref name="ListOfQNames"/>
        </attribute>

      </optional>
      <optional>
        <attribute name="doctype-public">
          <data type="string"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="doctype-system">
          <data type="anyURI"/>

        </attribute>
      </optional>
      <optional>
        <attribute name="encoding">
          <data type="string"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="escape-uri-attributes">

          <data type="boolean"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="include-content-type">
          <data type="boolean"/>
        </attribute>
      </optional>
      <optional>

        <attribute name="indent">
          <data type="boolean"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="media-type">
          <data type="string"/>
        </attribute>
      </optional>

      <optional>
        <attribute name="method">
          <data type="QName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="normalization-form">
          <ref name="NormalizationForm"/>
        </attribute>

      </optional>
      <optional>
        <attribute name="omit-xml-declaration">
          <data type="boolean"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="standalone">
          <choice>

            <value>true</value>
            <value>false</value>
            <value>omit</value>
          </choice>
        </attribute>
      </optional>
      <optional>

        <attribute name="undeclare-prefixes">
          <data type="boolean"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="version">
          <data type="string"/>
        </attribute>
      </optional>

      <interleave>
        <zeroOrMore>
          <ref name="InputConnection"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="WithOption"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="Log"/>

        </zeroOrMore>
        <zeroOrMore>
          <choice>
            <ref name="Documentation"/>
            <ref name="PipeInfo"/>
          </choice>
        </zeroOrMore>
      </interleave>
    </element>

  </define>
  <define name="Step-hash">
    <element name="hash">
      <optional>
        <ref name="name.ncname.attr"/>
      </optional>
      <ref name="common.attributes"/>
      <optional>
        <ref name="use-when.attr"/>

      </optional>
      <optional>
        <attribute name="value">
          <data type="string"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="algorithm">
          <data type="QName"/>

        </attribute>
      </optional>
      <optional>
        <attribute name="match">
          <ref name="XSLTMatchPattern"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="version">

          <data type="string"/>
        </attribute>
      </optional>
      <interleave>
        <zeroOrMore>
          <ref name="InputConnection"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="WithOption"/>

        </zeroOrMore>
        <zeroOrMore>
          <ref name="Log"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="WithParam"/>
        </zeroOrMore>
        <zeroOrMore>
          <choice>

            <ref name="Documentation"/>
            <ref name="PipeInfo"/>
          </choice>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="Step-uuid">
    <element name="uuid">

      <optional>
        <ref name="name.ncname.attr"/>
      </optional>
      <ref name="common.attributes"/>
      <optional>
        <ref name="use-when.attr"/>
      </optional>
      <optional>
        <attribute name="match">

          <ref name="XSLTMatchPattern"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="version">
          <data type="integer"/>
        </attribute>
      </optional>
      <interleave>

        <zeroOrMore>
          <ref name="InputConnection"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="WithOption"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="Log"/>
        </zeroOrMore>

        <zeroOrMore>
          <choice>
            <ref name="Documentation"/>
            <ref name="PipeInfo"/>
          </choice>
        </zeroOrMore>
      </interleave>
    </element>
  </define>

  <define name="Step-validate-with-relax-ng">
    <element name="validate-with-relax-ng">
      <optional>
        <ref name="name.ncname.attr"/>
      </optional>
      <ref name="common.attributes"/>
      <optional>
        <ref name="use-when.attr"/>
      </optional>

      <optional>
        <attribute name="dtd-attribute-values">
          <data type="boolean"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="dtd-id-idref-warnings">
          <data type="boolean"/>
        </attribute>

      </optional>
      <optional>
        <attribute name="assert-valid">
          <data type="boolean"/>
        </attribute>
      </optional>
      <interleave>
        <zeroOrMore>
          <ref name="InputConnection"/>

        </zeroOrMore>
        <zeroOrMore>
          <ref name="WithOption"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="Log"/>
        </zeroOrMore>
        <zeroOrMore>
          <choice>

            <ref name="Documentation"/>
            <ref name="PipeInfo"/>
          </choice>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="Step-validate-with-schematron">
    <element name="validate-with-schematron">

      <optional>
        <ref name="name.ncname.attr"/>
      </optional>
      <ref name="common.attributes"/>
      <optional>
        <ref name="use-when.attr"/>
      </optional>
      <optional>
        <attribute name="phase">

          <data type="string"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="assert-valid">
          <data type="boolean"/>
        </attribute>
      </optional>
      <interleave>

        <zeroOrMore>
          <ref name="InputConnection"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="WithOption"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="Log"/>
        </zeroOrMore>

        <zeroOrMore>
          <ref name="WithParam"/>
        </zeroOrMore>
        <zeroOrMore>
          <choice>
            <ref name="Documentation"/>
            <ref name="PipeInfo"/>
          </choice>
        </zeroOrMore>

      </interleave>
    </element>
  </define>
  <define name="Step-validate-with-xml-schema">
    <element name="validate-with-xml-schema">
      <optional>
        <ref name="name.ncname.attr"/>
      </optional>
      <ref name="common.attributes"/>

      <optional>
        <ref name="use-when.attr"/>
      </optional>
      <optional>
        <attribute name="use-location-hints">
          <data type="boolean"/>
        </attribute>
      </optional>
      <optional>

        <attribute name="try-namespaces">
          <data type="boolean"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="assert-valid">
          <data type="boolean"/>
        </attribute>
      </optional>

      <optional>
        <attribute name="mode">
          <choice>
            <value>strict</value>
            <value>lax</value>
          </choice>
        </attribute>
      </optional>

      <interleave>
        <zeroOrMore>
          <ref name="InputConnection"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="WithOption"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="Log"/>

        </zeroOrMore>
        <zeroOrMore>
          <choice>
            <ref name="Documentation"/>
            <ref name="PipeInfo"/>
          </choice>
        </zeroOrMore>
      </interleave>
    </element>

  </define>
  <define name="Step-www-form-urldecode">
    <element name="www-form-urldecode">
      <optional>
        <ref name="name.ncname.attr"/>
      </optional>
      <ref name="common.attributes"/>
      <optional>
        <ref name="use-when.attr"/>

      </optional>
      <optional>
        <attribute name="value">
          <data type="string"/>
        </attribute>
      </optional>
      <interleave>
        <zeroOrMore>
          <ref name="WithOption"/>

        </zeroOrMore>
        <zeroOrMore>
          <choice>
            <ref name="Documentation"/>
            <ref name="PipeInfo"/>
          </choice>
        </zeroOrMore>
      </interleave>
    </element>

  </define>
  <define name="Step-www-form-urlencode">
    <element name="www-form-urlencode">
      <optional>
        <ref name="name.ncname.attr"/>
      </optional>
      <ref name="common.attributes"/>
      <optional>
        <ref name="use-when.attr"/>

      </optional>
      <optional>
        <attribute name="match">
          <ref name="XSLTMatchPattern"/>
        </attribute>
      </optional>
      <interleave>
        <zeroOrMore>
          <ref name="InputConnection"/>

        </zeroOrMore>
        <zeroOrMore>
          <ref name="WithOption"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="Log"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="WithParam"/>

        </zeroOrMore>
        <zeroOrMore>
          <choice>
            <ref name="Documentation"/>
            <ref name="PipeInfo"/>
          </choice>
        </zeroOrMore>
      </interleave>
    </element>

  </define>
  <define name="Step-xquery">
    <element name="xquery">
      <optional>
        <ref name="name.ncname.attr"/>
      </optional>
      <ref name="common.attributes"/>
      <optional>
        <ref name="use-when.attr"/>

      </optional>
      <interleave>
        <zeroOrMore>
          <ref name="InputConnection"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="Log"/>
        </zeroOrMore>
        <zeroOrMore>

          <ref name="WithParam"/>
        </zeroOrMore>
        <zeroOrMore>
          <choice>
            <ref name="Documentation"/>
            <ref name="PipeInfo"/>
          </choice>
        </zeroOrMore>
      </interleave>

    </element>
  </define>
  <define name="Step-xsl-formatter">
    <element name="xsl-formatter">
      <optional>
        <ref name="name.ncname.attr"/>
      </optional>
      <ref name="common.attributes"/>
      <optional>

        <ref name="use-when.attr"/>
      </optional>
      <optional>
        <attribute name="href">
          <data type="anyURI"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="content-type">

          <data type="string"/>
        </attribute>
      </optional>
      <interleave>
        <zeroOrMore>
          <ref name="InputConnection"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="WithOption"/>

        </zeroOrMore>
        <zeroOrMore>
          <ref name="Log"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="WithParam"/>
        </zeroOrMore>
        <zeroOrMore>
          <choice>

            <ref name="Documentation"/>
            <ref name="PipeInfo"/>
          </choice>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
</grammar>
