schema/conf.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- 
    Schema for eXist Configuration file conf.xml
    
    TODO: Remove optional attributes in favour of well defined/named parent elements
-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0">
    
    <!-- Shared types -->
    <xs:simpleType name="yes_no">
        <xs:restriction base="xs:string">
            <xs:enumeration value="yes"/>
            <xs:enumeration value="no"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:element name="parameter">
        <xs:complexType>
            <xs:attribute name="name" type="xs:string"/>
            <xs:attribute name="value" type="xs:string"/>
        </xs:complexType>
    </xs:element>
    
    <!-- Root element -->
    <xs:element name="exist">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="db-connection">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="default-permissions" minOccurs="0">
                                <xs:complexType>
                                    <xs:attribute name="collection" type="xs:string" default="0775"/>
                                    <xs:attribute name="resource" type="xs:string" default="0775"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="startup" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="triggers" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="trigger" minOccurs="0" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element ref="parameter" minOccurs="0" maxOccurs="unbounded"/>
                                                            </xs:sequence>
                                                            <xs:attribute name="class" type="xs:string"/>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="pool">
                                <xs:complexType>
                                    <xs:attribute name="max" type="xs:integer" default="20"/>
                                    <xs:attribute name="min" type="xs:integer" default="1"/>
                                    <xs:attribute name="sync-period" type="xs:integer"
                                        default="120000"/>
                                    <xs:attribute name="wait-before-shutdown" type="xs:integer"
                                        default="120000"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="query-pool" minOccurs="0" maxOccurs="1">
                                <xs:complexType>
                                    <xs:attribute name="max-stack-size" type="xs:integer"
                                        default="5"/>
                                    <xs:attribute name="size" type="xs:integer" default="128"/>
                                    <xs:attribute name="timeout" type="xs:integer" default="120000"/>
                                    <xs:attribute name="timeout-check-interval" type="xs:integer"
                                        default="30000"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="recovery">
                                <xs:complexType>
                                    <xs:attribute name="enabled" type="yes_no" default="yes"/>
                                    <xs:attribute name="group-commit" type="yes_no" default="no"/>
                                    <xs:attribute name="journal-dir" type="xs:string"
                                        default="webapp/WEB-INF/data"/>
                                    <xs:attribute name="size" type="xs:string" default="100M"/>
                                    <xs:attribute name="sync-on-commit" type="yes_no" default="no"/>
                                    <xs:attribute name="force-restart" type="yes_no" default="no"/>
                                    <xs:attribute name="consistency-check" type="yes_no"
                                        default="yes"/>
                                </xs:complexType>
                            </xs:element>

                            <xs:element name="security" minOccurs="0">
                                <xs:complexType>
                                    <xs:attribute name="class" type="xs:string"
                                        default="org.exist.security.XMLSecurityManager"/>
                                    <xs:attribute name="password-encoding" use="optional"
                                        default="md5">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="plain"/>
                                                <xs:enumeration value="md5"/>
                                                <xs:enumeration value="simple-md5"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="password-realm" type="xs:string"
                                        use="optional"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="watchdog">
                                <xs:complexType>
                                    <xs:attribute name="output-size-limit" type="xs:integer"/>
                                    <xs:attribute name="query-timeout" type="xs:integer"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="cacheShrinkThreshold" type="xs:integer" default="10000"/>
                        <xs:attribute name="cacheSize" type="xs:string" default="48M"/>
                        <xs:attribute name="checkMaxCacheSize" type="xs:string" default="true"/>
                        <xs:attribute name="collectionCache" type="xs:string" default="24M"/>
                        <xs:attribute name="database" type="xs:string" default="@database@"/>
                        <xs:attribute name="doc-ids" type="xs:string" default="default"/>
                        <xs:attribute name="files" type="xs:string" default="webapp/WEB-INF/data"/>
                        <xs:attribute name="free_mem_min" type="xs:integer" default="5"/>
                        <xs:attribute name="minDiskSpace" type="xs:string" default="128M"/>
                        <xs:attribute name="nodesBuffer" type="xs:integer" default="-1"/>
                        <xs:attribute name="pageSize" type="xs:integer" default="4096"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="lock-manager">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="lock-table">
                                <xs:complexType>
                                    <xs:attribute name="disabled" type="xs:boolean" default="false"/>
                                    <xs:attribute name="trace-stack-depth" type="xs:int" default="0"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="collection">
                                <xs:complexType>
                                    <xs:attribute name="multiple-writers" type="xs:boolean" default="false"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="document">
                                <xs:complexType>
                                    <xs:attribute name="multi-lock" type="xs:boolean" default="false"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="upgrade-check" type="xs:boolean" default="false"/>
                        <xs:attribute name="warn-wait-on-read-for-write" type="xs:boolean" default="false"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="repository">
                    <xs:complexType>
                        <xs:attribute name="root" type="xs:string" default="/db/apps"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="binary-manager">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="cache">
                                <xs:complexType>
                                    <xs:attribute name="class" type="xs:string" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="indexer">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="modules">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="module" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:attribute name="id" type="xs:string"
                                                  default="ngram-index"/>
                                                <xs:attribute name="class" type="xs:string"
                                                  default="org.exist.indexing.impl.NGramIndex"/>
                                                <xs:attribute name="file" type="xs:string"
                                                  default="ngram.dbx"/>
                                                <xs:attribute name="connectionTimeout"
                                                  type="xs:integer" default="10000"/>
                                                <xs:attribute name="flushAfter" type="xs:integer"
                                                  default="300"/>
                                                <xs:attribute name="n" type="xs:integer" default="3"/>
                                                <xs:attribute name="buffer" type="xs:integer"
                                                  default="32"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="index">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="create" minOccurs="0"
                                            maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:attribute name="path" type="xs:string"
                                                  use="optional"/>
                                                <xs:attribute name="qname" type="xs:string"
                                                  use="optional"/>
                                                <xs:attribute name="type" type="xs:anySimpleType"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="caseSensitive" type="yes_no" default="yes"/>
                        <xs:attribute name="index-depth" type="xs:integer" default="5"/>
                        <xs:attribute name="preserve-whitespace-mixed-content" type="yes_no"
                            default="no"/>
                        <xs:attribute name="suppress-whitespace" default="both">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="leading"/>
                                    <xs:enumeration value="trailing"/>
                                    <xs:enumeration value="both"/>
                                    <xs:enumeration value="none"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
                <xs:element name="scheduler">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="job" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element ref="parameter" minOccurs="0" maxOccurs="unbounded"/>
                                    </xs:sequence>
                                    <xs:attribute name="type" use="optional" default="user">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="startup"/>
                                                <xs:enumeration value="system"/>
                                                <xs:enumeration value="user"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="name" type="xs:string" use="optional"/>
                                    <xs:attribute name="class" type="xs:string" use="optional"/>
                                    <xs:attribute name="xquery" type="xs:string" use="optional"/>
                                    <xs:attribute name="cron-trigger" type="xs:string"
                                        use="optional"/>
                                    <xs:attribute name="unschedule-on-exception" type="yes_no" use="optional" default="yes"/>
                                    <xs:attribute name="period" type="xs:string" use="optional"/>
                                    <xs:attribute name="delay" type="xs:long" use="optional"/>
                                    <xs:attribute name="repeat" type="xs:integer" use="optional"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="parser">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="xml" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="features" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="feature" minOccurs="0" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:attribute name="name" use="required" type="xs:string"/>
                                                            <xs:attribute name="value" use="required" type="xs:boolean"/>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="html-to-xml" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="properties" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="property" minOccurs="0" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:attribute name="name" use="required" type="xs:string"/>
                                                            <xs:attribute name="value" use="required" type="xs:string"/>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="features" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="feature" minOccurs="0" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:attribute name="name" use="required" type="xs:string"/>
                                                            <xs:attribute name="value" use="required" type="xs:boolean"/>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="class" use="required" type="xs:string"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="serializer">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="custom-filter" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:attribute name="class" type="xs:string"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="add-exist-id" default="none">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="all"/>
                                    <xs:enumeration value="element"/>
                                    <xs:enumeration value="none"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="compress-output" type="yes_no" default="no"/>
                        <xs:attribute name="enable-xinclude" type="yes_no" default="yes"/>
                        <xs:attribute name="enable-xsl" type="yes_no" default="no"/>
                        <xs:attribute name="indent" type="yes_no" default="yes"/>
                        <xs:attribute name="match-tagging-attributes" type="yes_no" default="no"/>
                        <xs:attribute name="match-tagging-elements" type="yes_no" default="yes"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="transformer">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="attribute" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:attribute name="name" type="xs:string"/>
                                    <xs:attribute name="value" type="xs:string"/>
                                    <xs:attribute name="type" type="xs:string"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="class" type="xs:string"
                            default="org.apache.xalan.processor.TransformerFactoryImpl"/>
                        <xs:attribute name="caching" type="xs:string"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="validation">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="entity-resolver">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="catalog" minOccurs="1"
                                            maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:attribute name="uri" type="xs:string"
                                                  default="webapp/WEB-INF/catalog.xml"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="mode" default="auto">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="auto"/>
                                    <xs:enumeration value="no"/>
                                    <xs:enumeration value="yes"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
                <xs:element name="xquery">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="builtin-modules">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="module" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element ref="parameter" minOccurs="0" maxOccurs="unbounded"/>
                                                </xs:sequence>
                                                <xs:attribute name="class" type="xs:string"/>
                                                <xs:attribute name="uri" type="xs:anyURI"/>
                                                <xs:attribute name="src" type="xs:string"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="enable-java-binding" type="yes_no" default="no"/>
                        <xs:attribute name="disable-deprecated-functions" type="yes_no" default="no"/>
                        <xs:attribute name="enable-query-rewriting" type="yes_no" default="yes"/>
                        <xs:attribute name="backwardCompatible" type="yes_no" default="no"/>
                        <xs:attribute name="raise-error-on-failed-retrieval" type="yes_no"
                            default="no"/>
                        <xs:attribute name="enforce-index-use" default="always">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="always"/>
                                    <xs:enumeration value="strict"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
                <xs:element name="xupdate">
                    <xs:complexType>
                        <xs:attribute name="allowed-fragmentation" type="xs:integer" default="5"/>
                        <xs:attribute name="enable-consistency-checks" type="yes_no" default="no"/>
                        <xs:attribute name="growth-factor" type="xs:integer" default="20"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
