extensions/xprocxq/main/test/tests.xproc.org/doc/document-attr.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	   elementFormDefault="qualified">
  <xs:element name="doc">
    <xs:complexType>
      <xs:sequence>
	<xs:element minOccurs="0" ref="title"/>
	<xs:element minOccurs="0" maxOccurs="unbounded" ref="p"/>
      </xs:sequence>
      <xs:attribute name="default-attribute" default="defaulted"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="title" type="xs:string"/>
  <xs:element name="p" type="xs:string"/>
</xs:schema>
